@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&family=Bebas+Neue&family=Inter:wght@300;400;500&display=swap');

:root {
  --gold: #f5a623;
  --gold-light: #ffd97d;
  --dark: #0a0e17;
  --dark2: #111827;
  --dark3: #1a2235;
  --red: #e8332a;
  --white: #f0f4ff;
  --gray: #8896a7;
  --card-bg: rgba(26,34,53,0.85);
  --border: rgba(245,166,35,0.18);
}

*, *::before, *::after { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

html { 
  scroll-behavior: smooth; 
}

body {
  font-family: 'Rajdhani', sans-serif;
  background: var(--dark);
  color: var(--white);
  overflow-x: hidden;
}
p {
  text-align: justify !important;
  text-justify: inter-word;
  color: var(--gray);
   font-size: 16px;
}

section { 
  padding: 90px 5vw; 
}

.divider {
  height: 1px; 
  background: linear-gradient(90deg, transparent, var(--gold), transparent);
  margin: 0;
}

.center { 
  text-align: center; 
}

.center .section-desc { 
  margin: 0 auto; 
}


.section-tag {
  display: inline-block; 
  color: var(--gold);
  font-size: 0.78rem; 
  letter-spacing: 4px; 
  text-transform: uppercase;
  background: rgba(245,166,35,0.10); 
  border: 1px solid rgba(245,166,35,0.25);
  padding: 5px 14px; 
  border-radius: 50px; 
  margin-bottom: 16px;
  ;
}

.section-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(2.2rem, 5vw, 3.8rem);
    letter-spacing: 1.5px;
    line-height: 1.05;
    margin-bottom: 14px;
    
}
.section-title span { 
  color: var(--gold); 
}

.section-desc { 
  color: var(--gray); 
  font-size: 1.08rem; 
  font-family: 'Inter', sans-serif; 
  font-weight: 300; 
  max-width: 560px; 
  line-height: 1.75; 
}
p.section-desc{
   text-align: center !important;
}



